@import url('common.css');

$pink:#f8b0b0;
$white:#fff;
$text:#555;

.height{
    height: 60px;
}

.chanel{
    figure{
        margin:0;
        position: relative;
        img{
            width:100%;
        }
        h2{
            background: rgba(0,0,0,0.4);
            color:$white;

            position: absolute;
            top:0;
            left: 0;
            width:100%;
            height: 100%;

            display:flex;
            justify-content: center;
            align-items: center;
        
        }
    }

    div{
        text-align: center;
        padding:20px;
        h3{
            font-size:20px
        }
        p{
            font-size:13px;
            line-height: 1.5;
        }
        p:nth-of-type(2):before{
            content: '';
            display:block;
            width:10%;
            height: 1px;
            background: $text;
            margin:20px auto;
        }
        p:nth-of-type(2){
            text-transform: capitalize;
            line-height: 1.8;
        }
    }
}

.sns{
    margin:0 auto;
    
    a{
        font-size:13px;
        font-size:0;
        display: inline-block;
        margin:0 10px;        
    }
    @for $i from 1 to 6{
        a:nth-of-type(#{$i}){
            background:url(../img/icon_sns_0#{$i}.png) center no-repeat;
            width:25px;
            height: 25px;
        }
    }
}

.more{
    margin: 60px auto;
    a{
        display: inline-block;
        background:$pink;
        color:$white;
        padding:7px 95px;
        font-size:13px;
    }
}