@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@300&family=Tinos&display=swap");
html, body {
  margin: 0;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
  text-transform: uppercase;
  font-family: 'Noto Serif KR', serif;
}

h1, h2, h3, h4, h5, h6, p, figcaption {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-family: 'Noto Serif KR', serif;
  vertical-align: top;
  color: #555;
}

a {
  text-decoration: none;
  color: #555;
  text-transform: uppercase;
  font-family: 'Noto Serif KR', serif;
  vertical-align: top;
}

img {
  vertical-align: middle;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header {
  z-index: 999;
  position: fixed;
  height: 60px;
  width: 100%;
  -webkit-box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fff;
}

header h1 {
  font-size: 20px;
}

header nav {
  z-index: 1000;
  position: fixed;
  height: 100%;
  right: 0;
  top: 0;
  background: #f8b0b0;
  -webkit-box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.2);
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translateX(110%);
          transform: translateX(110%);
  -webkit-transition: .5s;
  transition: .5s;
}

header nav ul {
  width: 100%;
}

header nav ul li {
  text-align: right;
}

header nav ul li > a {
  color: #fff;
  padding: 10px 20px;
  display: inline-block;
  font-size: 15px;
  -webkit-transition: .5s;
  transition: .5s;
}

header nav ul li div {
  background: rgba(255, 255, 255, 0.9);
  display: none;
}

header nav ul li div a {
  color: #555;
  display: block;
  padding: 10px 30px;
  -webkit-transition: .5s;
  transition: .5s;
  font-size: 13px;
}

header nav ul li div a:hover {
  background: #FCE7E7;
  width: 100%;
}

header nav ul li:hover {
  background: rgba(255, 255, 255, 0.9);
}

header nav ul li:hover div {
  display: block;
}

header nav ul li:hover > a {
  color: #f8b0b0;
}

header nav.active {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.menu-trigger {
  z-index: 1001;
  width: 15px;
  height: 12px;
  position: fixed;
  top: 25px;
  right: 20px;
}

.menu-trigger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background: #555;
  border-radius: 50px;
  -webkit-transition: .5s;
  transition: .5s;
}

.menu-trigger span:nth-of-type(1) {
  top: 0;
}

.menu-trigger span:nth-of-type(2) {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.menu-trigger span:nth-of-type(3) {
  bottom: 0;
}

.menu-trigger.active span:nth-of-type(1) {
  -webkit-transform: translateY(0px) rotate(-45deg);
          transform: translateY(0px) rotate(-45deg);
}

.menu-trigger.active span:nth-of-type(2) {
  opacity: 0;
}

.menu-trigger.active span:nth-of-type(3) {
  -webkit-transform: translateY(-10px) rotate(45deg);
          transform: translateY(-10px) rotate(45deg);
}

footer {
  z-index: 990;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 60px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fff;
  -webkit-box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
}

footer a {
  padding: 20px;
}
/*# sourceMappingURL=common.css.map */