@import url('common.css');

$pink:#f8b0b0;
$white:#fff;
$text:#555;

body{
    background:#FBD7D7;
}
.height{
    height: 60px;
}

.visual{
    
    // height: 100%;
    padding:50px 30px;
}

.paris{
    background:rgba(255,255,255,0.8);
    padding: 25px;
    

    h2{
        color:$pink;
        text-align: center;
        font-size:20px;
    }
}

.contents{
        display:flex;
        justify-content: center;
        flex-wrap: wrap;


    a{
        width:30%;
        white-space: pre-line;
        text-align: center;
        font-size:13px;
        padding:40px 10px;
        
    }

    @for $i from 1 to 7{
        a:nth-of-type(#{$i}):before{
            content:'';
            display:block;

            background:url(../img/logo_0#{$i}.png) center no-repeat #FBD7D7;
            height:60px;
            width:60px;
            border-radius: 100%;
        }
    }
}